@page
@model IndexModel   
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello and welcome to my little web app!</p>
    <p>Rather than telling you what I know I might as well just set up a public resource for you to browse</p>
    <p>All the code you find is available for your browsing at my <a href="https://github.com/AkselUser">Github</a> </p>




</div>
