@page
@model IndexModel   
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello and welcome to my little web app!</p>
    <p>I created this to show that I know how to write programs and host in Azure</p>
    <p>All the code you find is available for your browsing at my <a href="https://github.com/AkselUser">Github</a> </p>
    <textarea name="message" placeholder="Your Message"></textarea>




</div>
