@page
@model WeatherModel
@{
    ViewData["Title"] = "Should I wear a jacket";
}



<h1>@ViewData["Title"]</h1>

<p>This page deals with jacketwearing</p>
<p>Fill in the latitude and longitude where you live. </p>
<p>Pressing the submit button will query a weather-API that returns the temperature and calculates if you should use a jacket. And the service is completely FREE!</p>
<p>Default is 59/10 is Oslo</p>

<form method="post">
    <fieldset>
        <legend>Coordinates</legend>
        <div>
            <label for="latitude">Latitude:</label>
            <input type="text" name="latitude" value="59" />
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input type="text" name="longitude" value="10" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
@if (Model.ActionResultMessageText == string.Empty)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@Model.ActionResultAlertMessageText");
        };
    </script>
}